@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color: #183656;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}

.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}

.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;
}

.flex{
    display: flex;
    align-items: center;
}

ul{
    list-style: none;
}

.hover-links{
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
}

.hover-links:hover {
    color: var(--accent-color);
}

.primary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0px 0px 5px var(--secondary-text-color);
    transition: 0.2s ease-out;
    text-align: center;
    
}

.primary-button:hover {
    background-color: var(--accent-color-dark);
    transform: translateY(-3px);
    
}

.secondary-button{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color);
    padding: 12px 24px;
    transition: 0.2s ease-out;

}

.secondary-button:hover {
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
    transform: translateY(-3px);
}

/* top banner */

.top-banner{
    background-image: url('./assets/asset\ 32.png');
    background-color: #ed2a6e;
    background-size: 300px;
}

.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;
}

.main-nav{
    margin-top: 20px;
    justify-content: space-between;
    position: relative;
}

.company-logo img{
    width: 200px;
}

.nav-links{
    flex-basis: 730px;
    padding-top: 5px;
}

.nav-links ul{
    justify-content: end;
    gap: 40px;
}

.nav-toggle {
    display: none;
}

/*header section*/

header {
    padding: 50px var(--padding-inline-section) 0;
}

.header-section {
    justify-content: center;
    gap: 50px;
}

.header-left {
    max-width: 40vw;
}

.header-left h1{
    margin-top: 20px;
}

.header-right img{
    width: 100%;
}

.header-left a {
    margin-top: 20px;
}

/*companies section*/

.companies-section {
    margin-top: 80px;
}

.companies-header {
    text-align: center;
    margin-block: 30px;
    color: var(--secondary-text-color);
}

.logos{
    justify-content: space-evenly;
    gap: 20px ;
    flex-wrap: wrap;
}

.logo {
    height: 46px;
}

/* features section */

.features-section {
    padding: 50px var(--padding-inline-section) 0;
    background-image: url(./assets/asset\ 34.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.features-card img {
    width: 60px;
}

.features-header{
    text-align: center;
    margin-bottom: 40px;
}

.features-header h2 {
    margin-bottom: 20px;
}

.features-area {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin: 20px;
}

.features-card {
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
}

/* big feature section */

.big-feature-section {
    padding: 30px var(--padding-inline-section) 0;
}

.big-feature-container {
    gap: 30px;
}

#second-big-feature {
    flex-direction: row-reverse;
}

.feature-img img{
    width: 100%;
}

.feature-desc {
    flex-direction: column;
    align-items: flex-start;
}

/* example section */

.examples-header {
    padding: 80px var(--padding-inline-section);
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.examples-area {
    justify-content: space-between;
    margin-block: 30px;
    flex-wrap: wrap;
}

.examples-card:hover {
    box-shadow: 0 0 10px #888;
}

.examples-card:nth-child(1) {
    width: 23%;
    position: relative;
    height: 300px;
    background: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.8)), url(./assets/asset\ 36.jpeg); background-size: cover;
    transition: 0.2s ease-out;
}

.examples-card:nth-child(2) {
    width: 23%;
    position: relative;
    height: 300px;
    background: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.8)), url(./assets/asset\ 37.jpeg); background-size: cover;
    transition: 0.2s ease-out;
}

.examples-card:nth-child(3) {
    width: 23%;
    position: relative;
    height: 300px;
    background: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.8)), url(./assets/asset\ 38.jpeg); background-size: cover;
    transition: 0.2s ease-out;
}

.examples-card:nth-child(4) {
    width: 23%;
    position: relative;
    height: 300px;
    background: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.8)), url(./assets/asset\ 39.jpeg); background-size: cover;
    transition: 0.2s ease-out;
}

.card-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
}

/* cta section */

.cta-section-container {
    flex-direction: column;
    gap: 30px;
    color: white;
    text-align: center;
}

.cta-section {
    background-color: #183b54;
    padding: 120px var(--padding-inline-section) 80px;
}

.cta-section-container p {
    color: white;
    margin-top: 20px;
}

/* footer */

footer {
    padding-block: 80px;
    margin-top: 20px;
}

.link-column {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.footer-container {
    align-items: flex-start;
    justify-content: space-between;
}

/* sub-footer */

.subfooter {
    background-color: #b9cde4;
    padding: var(--padding-inline-section);
}

.subfooter-container {
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

