@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 0.8rem;
    cursor: pointer;
}

body::-webkit-scrollbar {
    display: none;
  }

:root {
    --primary-color: #CBE4DE;
    --text-color-2: #2c3333ac;
    --text-color: #2C3333;
}

.dark-theme {
    --primary-color: #1B262C;
    --text-color-2: #bbe1faad;
    --text-color: #BBE1FA;
}

main {
    width: 50%;
    margin: 0 auto;
    
}

h1{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

div {
    margin: 40px 0;
}

li {
    line-height: 1.8rem;
    list-style-type: circle;
    transition: 0.4s ease-in-out;
}

li:hover {
    list-style-type: disc;
    transform: scale(1.05);
    padding-left: 15px;
}

.sign {
    padding-left: 15px;
}

a {
    text-decoration: none;
    color: var(--text-color-2);
}

#mode {
    margin: 0 auto 20px;
    width: 100%;
    text-align: center;
    color: var(--text-color-2);
    font-size: 0.8rem;
    transition: 0.4s ease-in-out;
}

#mode:hover {
    transform: scale(1.1);
}

