
@media screen and (max-width: 991px) {

 .output {
    width: 450px;
 }
   
}

@media screen and (max-width: 767px) {
    input {
        width: 300px;
    }
    .output {
        width: 350px;
        gap: 5px;
    }
}

@media screen and (max-width: 479px) {
    input {
        width: 200px;
    }
    .output {
        width: 250px;
        gap: 15px;
    }
}